<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
    <div class="card m-3">
        <div class="card-header">List Patients</div>
        <div class="card-body">
            <form method="get" th:action="@{/index}">
                <input type="text" class="px-2 py-1" name="search" th:value="${search}" placeholder="Search">
                <input type="submit" class="btn btn-info text-white" value="Search">
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Malade</th>
                    <th>Score</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="patient : ${patients}">
                    <td th:text="${patient.id}"></td>
                    <td th:text="${patient.nom}"></td>
                    <td th:text="${patient.dateNaissance}"></td>
                    <td th:text="${patient.malade}"></td>
                    <td th:text="${patient.score}"></td>
                    <td>
                        <a onclick="javascript:return confirm('Tees vous sure?')"
                                th:href="@{delete(id=${patient.id}, search=${search}, page=${currentPage})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="pagination">
                    <li th:each="page,status:${pages}">
                    <a th:href="@{/index(page=${status.index},search=${search})}"
                       th:class="${currentPage==status.index?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                       th:text="${status.index}"></a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>